h1 {
    color:red;
}
.dq1 {
    background-color:blue; 
    width: 100px;
    margin-bottom: 100px;
    color:white;
}
    .fft {
    width: 150px;

}
a {
    color:blue;
}
    span {
        color:red;
    }
    .sergey {
        background-color:green;
        color: #fff;
    }
    .ser1 {
        color: white;
        background:green;
        padding: 30px;
    }
    .ggd {
        padding-left: 100px;
    }
    .segey {
        color:white;
        background-color:green; 
        padding-left: 10px;
        padding-top: 2px;
    }
.opo, .opo2, .opo1 {
    border: 1px solid #000000;
    font-size: 25px;
}

    .ser7 {
        padding-left: 100px;
    }