h1 {
    color:red;
}
.dq1 {
    background-color:rgb(18, 18, 173); 
    width: 100px;
    color:white;
    }
    span {
        color:red;
    }
    .sergey {
        background-color:green;
        color: #fff;
    }
    .ser1 {
        color: white;
        background:green;
        padding: 30px;
    }
    .ggd {
        padding-left: 100px;
    }
    .segey {
        color:white;
        background-color:green; 
        padding-left: 10px;
        padding-top: 2px;
    }
.ser2,.ser3,.ser4 {
    border: 1px solid #000000;
    font-size: 25px;
}

    .ser7 {
        padding-left: 100px;
    }